{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">Here are the details about your partner {{partner.first_name}}</p>
  <hr class="my-4">
</div>
<div>
  <h2>Details about {{partner.first_name}} </h2>
      <p>  Hello! I'm {{partner.first_name}}
        {{partner.last_name}} and I'm a 
        {{partner.level}} level tennis player. </p>
        I live somewhere near zipcode
        {{partner.zipcode}} so if you're close, you can email me: <!-- email function to be updated -->
        <p><a href="{{ partner.email }}">{{partner.email}}</a>. </p>
        <p>Other things about me: 
        {{partner.description}}</p>
</div>
{% endblock %}