{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to TennisTinder</h1>
    <p class="lead">Find a tennis partner in your area by entering your zipcode below.</p>
    <hr class="my-4">
  </div>

    <div class="row">
        <form class="form-inline my-2 my-lg-0"  action = "result/" method = "GET">
          {% csrf_token %}
          <input class="form-control mr-sm-2"   name = 'q' type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0"  type="submit">Search</button>
        </form>
    </div>
{% endblock %}
  
</body>
</html>
